/* Proprietà generali del footer */


/* Inizio footer */
footer {
    height: 300px;
    width: 100%;
    background-color: black;
    padding: 70px 10% 10px;
}
    footer ul {
        font-size: 12px;
        list-style: none;
        float: left;
        width: calc(100% / 5);
        margin-bottom: 50px;
    }
        footer ul li:first-child {
            font-size: 15px;
            margin-bottom: 15px;
            color: white;
        }
            footer ul li a {
                text-decoration: none;
                color: white;
            }
    
    footer hr {
        border-color: rgba(211, 211, 211, 0.678);
        width: 80px;
    }

    footer span {
        display: inline-block;
        color: rgba(211, 211, 211, 0.678);
        font-size: 10px;
        margin-top: 20px;
    }
        footer span .fa-globe-americas {
            margin-right: 4px;
        }
        footer span .fa-angle-up {
            font-size: 8px;
            margin-left: 4px;
        }