/* Inizo header */
header {
    /* height: 50px; */
}
    /* Inizio header-nav --------------------------------------- */
    header nav {
        height: 65px;
        z-index: 1;
    }
        nav div {
            float: left;
            height: 65px;
            line-height: 65px;
        }
        #logo {
            width: 10%;
        }
        #btn-nav {
            width: 7%;
        }
        #nav-sx-link, #nav-dx-link {
            width: 41.5%;
        }
        #nav-dx-link, #btn-nav {
            text-align: right;
        }
            nav div * {
                vertical-align: middle;
            }
            nav img {
                width: 100px;
                margin-left: 15px;
            }
            nav a {
                text-decoration: none;
                color: black;
                font-size: 12px;
                margin: 0 15px;
            }
            #nav-sx-link a:first-child {
                margin-left: 5px;
            }
            #nav-dx-link a:last-child {
                margin-right: 5px;
            }
            #btn-nav a {
                padding: 5px 15px;
                background-color: rgb(63, 63, 248);
                color: white;
            }
    
    /* Inizio header-botttom */
    #header-bottom{
        height: 600px;
        width: 100%;
        /* background-color: rgb(128, 166, 248); */
        background-color: tomato;
    }
    #hd-b-container {
        width: 80%;
        margin: auto;
        padding: 85px 0;
    }
        h1 {
            font-size: 52px;
            margin-bottom: 40px;
        }
        #hd-b-text {
            width: 35%;
            float: left;
            background-color: yellowgreen;
        }
            #hd-b-btn {
                text-decoration: none;
                color: white;
                padding: 10px 5px;
                background-color: rgb(63, 63, 248);
                margin-top: 30px;
            }
        #hd-b-img {
            width: 65%;
            float: left;
            height: 200px;
            background-color: teal;
        }