/* Inizo header */
header {
    /* height: 50px; */
}
    /* Inizio header-nav --------------------------------------- */
    header nav {
        height: 65px;
        z-index: 1;
        position: fixed;
        width: 100%;
        background-color: white;
    }
        nav div {
            float: left;
            height: 65px;
            line-height: 65px;
        }
        #logo {
            width: 10%;
        }
        #btn-nav {
            width: 7%;
        }
        #nav-sx-link, #nav-dx-link {
            width: 41.5%;
        }
        #nav-dx-link, #btn-nav {
            text-align: right;
        }
            nav div * {
                vertical-align: middle;
            }
            nav img {
                width: 100px;
                margin-left: 15px;
            }
            nav a {
                text-decoration: none;
                color: black;
                font-size: 12px;
                margin: 0 15px;
            }
            #nav-sx-link a:first-child {
                margin-left: 5px;
            }
            #nav-dx-link a:last-child {
                margin-right: 5px;
            }
            #btn-nav a {
                padding: 5px 15px;
                background-color: rgb(63, 63, 248);
                color: white;
            }
    
    /* Inizio header-botttom */
    #header-bottom{
        padding-top: 65px;
        width: 100%;
        background-color: rgb(147, 181, 255);
    }
    #hd-b-container {
        width: 80%;
        margin: auto;
        padding-top: 85px;
        padding-bottom: 40px;
    }
        h1 {
            font-size: 52px;
            margin-bottom: 40px;
        }
        #hd-b-text {
            width: 35%;
            margin-right: 5%;
            float: left;
            font-size: 14px;
            line-height: 1.6;
        }
            #hd-b-btn {
                text-decoration: none;
                color: white;
                font-size: 15px;
                padding: 7px 15px;
                background-color: rgb(63, 63, 248);
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            #hd-b-text > span {
                display: block;
            }
            #hd-b-text a:last-child {
                margin-top: 20px;
                display: inline-block;
                font-size: 30px;
                color: black;
            }

        #hd-b-img {
            width: 60%;
            float: left;
            height: 200px;
        }
        #hd-b-img img {
            width: 100%;
        }