/* Inizo header */
header {
    height: 50px;
}
    /* Inizio header-nav --------------------------------------- */
    header nav {
        height: 50px;
        z-index: 1;
    }
        nav div {
            float: left;
            height: 50px;
            line-height: 49px;
        }
        #logo {
            width: 10%;
        }
        #btn-nav {
            width: 7%;
        }
        #nav-sx-link, #nav-dx-link {
            width: 41.5%;
        }
        #nav-dx-link, #btn-nav {
            text-align: right;
        }
            nav div * {
                vertical-align: middle;
            }
            nav img {
                width: 100px;
                margin-left: 15px;
            }
            nav a {
                text-decoration: none;
                color: black;
                font-size: 12px;
                margin: 0 15px;
            }
            #nav-sx-link a:first-child {
                margin-left: 5px;
            }
            #nav-dx-link a:last-child {
                margin-right: 5px;
            }
            #btn-nav a {
                padding: 5px 15px;
                background-color: rgb(63, 63, 248);
                color: white;
            }