/* Proprietà generali della terza section */
#third-sec  h2 {
    font-size: 32px;
}

/* Inizio terza section */
section#third-sec {
    margin-top: 80px;
}
    #header-third-sec {
        width: 70%;
        margin: auto;
    }
        #header-third-sec > h2 {
            margin-bottom: 20px;
        }
        #header-third-sec span a {
            color: rgb(63, 63, 248);
            font-size: 12px;
        }
        
    /* Inizio business */
    div#business {
        margin-top: 35px;
    }
        #business .img-container {
            width: calc((100% - 40%) / 2);
            float: left;
        }
            div.square {
                width: calc(100% / 2);
                height: 200px;
                float: left;
            }
            div.square#sx-first {
                border: 10px solid rgb(161, 214, 161);
                background-color: rgb(125, 196, 125);
            }
                .square#sx-first img {
                    width: 60%;
                }
            div.square#sx-second {
                background-color: rgb(121, 28, 48);
            }
            div.square#sx-third {
                background-color: rgb(78, 78, 250);
            }
            div.square#sx-fourth {
                background-color: red;
            }

            /* square img dx */
            div.square#dx-first {
                background-color: rgb(214, 16, 16);
            }
            div.square#dx-second {
                background-color: rgb(129, 152, 252);
            }
            div.square#dx-third {
                background-color: rgb(43, 43, 167);
            }
            div.square#dx-fourth {
                background-color: rgb(230, 218, 54);
            }
                .square img {
                    width: 50%;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    filter: invert(1);
                }
        
        /* Inizio div#review */
        div#review {
            width: 40%;
            height: 400px;
            float: left;
            background-color: rgb(230, 230, 230);
            padding: 35px 40px;
        }
            #review img {
                width: 120px;
            }
            #review hr {
                width: 40px;
                margin-top: 20px;
                border: 1px solid lightgray;
                margin-bottom: 30px;
            }
            #review p, #review span {
                font-size: 12px;
            }
            #review span {
                display: inline-block;
                margin-top: 40px;
            }

    /* Inizio foter-third-sec */
        div#footer-third-sec {
            height: 300px;
            width: 100%;
            padding: 0 15%;
            background-color: rgb(129, 152, 252);
        }
            #footer-third-sec h2 {
                position: relative;
                float: left;
                top: 50%;
                transform: translate(0, -50%);
                color: rgb(126, 5, 51);
            }
            #footer-third-sec span {
                position: relative;
                float: right;
                top: 50%;
                transform: translate(0, -50%);
            }
                #footer-third-sec a {
                    text-decoration: none;
                    color: black;
                    padding: 7px 40px;
                    background-color: white;
                    display: inline-block;
                    font-size: 12px;           
                }

    /* Inizio fourth-sec */
    #fourth-sec {
        width: 70%;
        height: 400px;
        margin: 80px auto;
    }
        #fourth-sec h3 {
            font-size: 22px;
            margin-bottom: 30px;
        }
        #fourth-sec li {
            list-style-type: none;
            line-height: 60px;
            height: 60px;
            font-size: 12px;
            border-bottom: 1px solid lightgray;
            font-weight: bold;
        }
        #fourth-sec li:first-child {
            border-top: 1px solid lightgray;
        }
            #fourth-sec li i {
                position: relative;
                float: right;
                top: 50%;
                transform: translate(0, -50%);
            }