/* Regole generali degli elementi presenti in questo file */


/* Inizio seconda parte main (dopo le colonne) */
div#partner {
    width: 100%;
    margin-top: 120px;
}
    #partner-img {
        width: 55%;
        float: left;
    }
        #partner-img img {
            width: 100%;
            object-fit: cover;
            display: block;
        }
    #partner-text {
        width: 45%;
        float: left;
        padding-left: 30px;
    }
        #partner-text h3 {
            font-size: 22px;
            margin-top: 25px;
        }
        #partner-text p {
            margin-top: 15px;
            font-size: 12px;
        }
        #partner-text span {
            border: 1px solid black;
            margin-top: 15px;
            display: inline-block;
        }
            #partner-text a {
                text-decoration: none;
                color: black;
                display: inline-block;
                padding: 7px 10px;
                font-size: 12px;
            }

#second-sec {
    margin-top: 70px;
}
    #second-sec > div {
        width: 100%;
    }
    #second-sec .card {
        padding: 30px 30px;
        float: left;
        width: calc(100% / 3);
    }
        .card .card-img img{
            width: 100%;
        }
        .card-text p {
            margin-top: 20px;
            font-size: 12px;
        }
        .card-text a {
            color: black;
        }